@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, lang: play.api.i18n.Lang)

@import helper._

@boxValue = @{ args.toMap.get('value).getOrElse("true") }

@id = @{ args.toMap.get('id).map(_.toString).getOrElse(field.id) }

@htmlArgs = @{ args.filter(arg => !arg._1.name.startsWith("_") && arg._1 != 'id).toMap }

  <div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-4 control-label" for="@field.id">@args.toMap.get('_text)</label>
    <div class="col-sm-6" id="@field.id">
          <input type="checkbox" name="@field.name" id="@id" value="@boxValue" @(if(field.value == Some(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs.filterKeys(_ != 'value)) >
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
