@(field: Field, label: String = "CHANGEME", options: Seq[(String,String)], help: String = "")

  <div class="form-group clearfix @if(field.hasErrors) {has-error}">
    <label class="col-sm-4 control-label" for="@field.id">@label</label>
    <div id="@(field.id + "s")" class="col-sm-6" >
      @for((buttonName,buttonValue) <- options) {
      <label class="radio-inline">
        <input
          type="radio"
          name="@field.name"
          id="@buttonName"
          value="@buttonValue"
          @if(buttonValue == field.value.getOrElse("")) {checked} />
        @buttonName
      </label>
      }
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { e => play.api.i18n.Messages(e.message, e.args: _*) }}</span>
    </div>
  </div>
