@(field: Field, label: String = "CHANGEME", options: Seq[(String,String)], isMultiple: Boolean, help: String = "")

  <div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-4 control-label" for="@field.id">@label</label>
    <div class="col-sm-6">
    
	@defining( ( !field.indexes.isEmpty && isMultiple ) match {
		case true => field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet
		case _ => field.value.toSet
	}){ values =>
	
      <select
        class="form-control"
        id="@field.id"
        name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
        @if(isMultiple) {multiple="multiple"}>
        @if(!isMultiple) {<option class="blank" value="">Please select a value</option>}
        @options.map { v =>
                <option value="@v._1" @if(values.contains(v._1)){selected}>@v._2</option>
            }
      </select>
	}
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
