@(field: Field, label: String = "CHANGEME", placeholder: String = "", help: String = "")

  <div class="form-group clearfix @if(field.hasErrors) {has-error}">
    <label class="col-sm-4 control-label">@label</label>
    <div class="col-sm-6">
      <input type="text" 
             class="form-control" 
             id="@field.id" 
             name="@field.name" 
             value="@field.value.getOrElse("")"
             placeholder="@placeholder" />
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { e => play.api.i18n.Messages(e.message, e.args: _*) }}</span>
    </div>
  </div>
