@(desc: String, q: String) 

		<div class="col-sm-6">
			<ul>
				<li>
					<strong>@desc :</strong> <br />
					<a href="@de.htwg.iqes.client.controllers.routes.Application.preprocess(q)">
						<code>@de.htwg.iqes.client.controllers.routes.Application.preprocess(q)</code>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul>
				<li>
					<strong>@desc :</strong> <br />
					<a href="@de.htwg.iqes.client.controllers.routes.Application.expandGET(q)">
						<code>@de.htwg.iqes.client.controllers.routes.Application.expandGET(q)</code>
					</a>
				</li>
			</ul>
		</div>
