@() 

@import bootstrap3._

@main("IQES / Frontpage") {

<div class="container">
	<div class="header">
		@navigation()
		<h3 class="text-muted">IQES / Intelligent Query Expansion System</h3>
	</div>

	<div class="jumbotron">
		<h1>IQES Prototype</h1>
		<p class="lead">Expand german search queries to enhance their performance.</p>
		
		<button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModal">Give it a try.</button>
	</div>

	<div class="row marketing">
		<div class="col-sm-4">
			<h3>Preprocess</h3>
			<form id="preprocess">
				<div class="form-group">
					<input required="required" type="text" name="query" class="form-control" id="query" placeholder="Enter your query">
				</div>
					
				<button type="submit" class="btn">Preprocess query</button>
			</form>
		</div>
		
		<div class="col-sm-4">
			<h3>Query Expansion</h3>
			@helper.form(action = de.htwg.iqes.client.controllers.routes.Application.expandPOST, 'class -> "qeform") {
				<div class="form-group">
				    <input required="required" type="text" name="query" class="form-control" id="query" placeholder="Enter your query">
				</div>
				
				<button type="submit" class="btn">Expand query</button>
			}
		</div>
		
		<div class="col-sm-4">
			<h3>Powered by</h3>
			<a href="http://www.htwg-konstanz.de" target="_blank"><img src="@routes.Assets.at("images/htwg.png")" /></a>
		</div>
	</div>
	
	<div class="row marketing">
		<div class="col-sm-12">
			<hr />
			<p>Lets see some example queries to illustrate the power of query expansion by IQES. <br />
			<strong>Note:</strong> The following queries are expanded with the default configuration</p>
		</div>
		<div class="col-sm-6">
			<h3>Preprocessing examples</h3>
		</div>
		<div class="col-sm-6">
			<h3>Query Expansion examples</h3>
		</div>
		
		@example("Product class","Laptop")
		@example("City","Konstanz")
		@example("Composite city","Schwäbisch Hall")
		@example("Continent with Lexical","Bilder Südamerika")
		@example("Company with city","BMW Händler Konstanz")
		@example("Music genre","Musik der Romantik")
		@example("Combined query","Umsatz von Computer in Brasilien 2013")
		@example("Combined query","Gewinn PKW Süddeutschland")
		
	</div>
	
	<div class="row marketing">
		<div class="col-sm-12">
			<hr />
			<h3>Information about the project</h3>
			<p>IQES is the prototype of a thesis created by Julian Müller @@ HTWG Konstanz</p> 
		</div>
	</div>
	
	<div id="myModal" class="modal fade">
  		<div class="modal-dialog">
  			@helper.form(action = de.htwg.iqes.client.controllers.routes.Application.expandPOST, 'class -> "qeform") {
		    <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Expand your Query</h4>
				</div>
				<div class="modal-body">
		      	
				<div class="form-group">
				    <label for="query">Query to expand</label>
				    <input required="required" type="text" name="query" class="form-control" id="query" placeholder="Enter your query">
				</div>
				
				</div>
				<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        	<button type="submit" class="btn btn-primary">Expand query</button>
				</div>
		    </div><!-- /.modal-content -->
		    }
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div id="response" class="modal fade">
  		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Response by IQES</h4>
				</div>
				<div class="modal-body">
		      		<!-- BOOOOODY -->
				</div>
				<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
		    </div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("form#preprocess").submit(function(e){
				e.preventDefault();
				$("#loading").fadeToggle();
				var query = $("input[name=query]", this);
				
				if(query.val() == "") {
					query.parent().addClass('has-error');
					return;
				} else {
					query.parent().removeClass('has-error');
				}
				
				var url = jsRoutes.de.htwg.iqes.client.controllers.Application.preprocess(query.val()).url;
					
				$.ajax({
					url : url,
					success : function(data) {
						$("#loading").fadeToggle();
						$("#response .modal-body").JSONView(data);
						$("#response").modal();
					}
				});
			});
			
			$("form.qeform").submit(function(e) {
				e.preventDefault();
				var query = $("input[name=query]", this);
				
				if(query.val() == "") {
					query.parent().addClass('has-error');
					return;
				} else {
					query.parent().removeClass('has-error');
				}
				
				$('#myModal').modal('hide');
				$("#loading").fadeToggle();
				var that = $(this);
				$.ajax({
					type: "POST",
					url: that.attr('action'),
					data: that.serialize(),
					success : function(data) {
						$("#loading").fadeToggle();
						$("#response .modal-body").JSONView(data);
						$("#response").modal();
					}
				});
			});
		});
	</script>

</div>

}
