@()

<ul class="nav nav-pills pull-right">
	<li><a href="@de.htwg.iqes.client.controllers.routes.Application.index">Home</a></li>
	<li><a href="@de.htwg.iqes.client.controllers.routes.Application.query">Query Expansion</a></li>
</ul>