@(queryForm: Form[de.htwg.iqes.domain.QueryForm]) 

@import bootstrap3._

@configuration(field: Field)(implicit handler: helper.FieldConstructor) = {

    	<legend>GermaNet</legend>
        @radiobuttons(
            field("isExpansionByGermaNetActive"), 
            options = scala.collection.immutable.List(("Yes","true"),("No","false")),
            label = "Expansion active?"
        )
        
        <legend>Linking Open Data</legend>
        @radiobuttons(
            field("isExpansionByLODActive"), 
            options = scala.collection.immutable.List(("Yes","true"),("No","false")),
            label = "Expansion active?"
        )
        
        <legend>GeoNames</legend>
        
        @radiobuttons(
            field("isExpansionByGeoNamesActive"), 
            options = scala.collection.immutable.List(("Yes","true"),("No","false")),
            label = "Expansion active?"
        )
        
        @text(
            field("expansionRadiusForGeoNames"), 
            label = "Expansion Radius"
        )
        
        @text(
            field("maxExpansionRowsForGeoNames"), 
            label = "Expansion row limit"
        )

        <div class="priorities">
        	<h4 class="col-sm-12">Priority / FeatureClasses</h4>
        	
        	<hr />
        	
            @helper.repeat(field("priorityOrderForGeoNamesMatching"), 
            	min = de.htwg.iqes.domain.QueryForm.getFC.size) { priority =>
            	
                @select(priority,
                	"Feature Class",
                	options = helper.options(de.htwg.iqes.domain.QueryForm.getFC),
                	isMultiple = false)
    
            }
        </div>

}


@main("IQES / Frontpage") {

<div class="container">
	<div class="header">
		@navigation()
		<h3 class="text-muted">IQES / Intelligent Query Expansion System</h3>
	</div>

	<div class="row marketing">
		@if(queryForm.hasErrors) {
			<div class="alert alert-danger">
				<p><strong>Oops</strong> Please fix all errors</p>
		    </div>
	    }
	    
	    <ul class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">Query</a></li>
			<li><a href="#qeconfig" data-toggle="tab">Query Expansion Configuration</a></li>
			<li><a href="#pconfig" data-toggle="tab">Preprocessing Configuration</a></li>
		</ul>
		
		<br />
    
		<div class="tab-content">
    	@helper.form(action = de.htwg.iqes.client.controllers.routes.Application.expandPOST, 'id -> "qeform") {
    	
		<div class="tab-pane fade in active" id="home">
			<fieldset>
				@text(
		            queryForm("query"), 
		            label = "Query",
		            placeholder = "Enter your query"
		        )
	        </fieldset>
        </div>
        
		<div class="tab-pane fade" id="qeconfig">
	        <fieldset>
	        	@configuration(queryForm("configuration"))
	        </fieldset>
        </div>
        
        <div class="tab-pane fade" id="pconfig">
	        <fieldset>
    	 		@preprocessing(queryForm("configuration"))
	        </fieldset>
        </div>
        
        <hr />
        
        <div class="col-sm-9 col-sm-push-4">
	        <input type="submit" class="btn btn-default" value="Submit">
	    </div>
        }
        </div>
	</div>

</div>
<!-- /container -->

}
