@htwg-color: #009ee0;

.container {
	h1, p.lead {
		color: #FFF;
	}

	.jumbotron {
		background: @htwg-color;
		text-shadow: 0 0 5px #666;
	}
	
	button.btn-lg {
		background: #FFF;
		color: @htwg-color;
	}
	
	.marketing {
		margin: 0 0 20px 0;
	}
	
	label.control-label {
		text-align:right;
	}
}

div#loading {
	display: none;
	position: fixed;
	top: 4%;
	left: 4%;
	width: 92%;
	height: 92%;
	background: url(../images/ajax-loader.gif) center center no-repeat @htwg-color; 
	color: #FFF;
	
	p {
		font-size:1.25em;
		position: absolute;
		width: 50%;
		top: 35%;
		left: 25%;
		text-align:center;
		text-shadow: 0 0 5px #666;
	}
}

.tab-content > form > .tab-pane,
.pill-content > form > .pill-pane {
    display: none;
}
.tab-content > form > .active,
.pill-content > form > .active {
    display: block;
}

/* JUMBOTRON, POWERED BY BOOTSTRAP */
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}